<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971089992869-c0ghciivhk5vb3senpt23qvfqg3khoha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971089992869-c0ghciivhk5vb3senpt23qvfqg3khoha</string>
	<key>API_KEY</key>
	<string>AIzaSyDi_H6ns4ZvQ-__nKHvTiv5SGp4b-YSRr4</string>
	<key>GCM_SENDER_ID</key>
	<string>971089992869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modal.electronicadmin</string>
	<key>PROJECT_ID</key>
	<string>scalemodal</string>
	<key>STORAGE_BUCKET</key>
	<string>scalemodal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971089992869:ios:fd587d9951c1b45c2bc14c</string>
</dict>
</plist>